@model GustaVagas.Domain.Entities.Vaga

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo">Create</h1>

<h4 class="subtitulo">Vaga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroVagas" class="control-label"></label>
                <input asp-for="NumeroVagas" class="form-control" />
                <span asp-validation-for="NumeroVagas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senioridade" class="control-label"></label>
                <input asp-for="Senioridade" class="form-control" />
                <span asp-validation-for="Senioridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Escolaridade" class="control-label"></label>
                <input asp-for="Escolaridade" class="form-control" />
                <span asp-validation-for="Escolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoVaga" class="control-label"></label>
                <select asp-for="EstadoVaga" class="form-control"></select>
                <span asp-validation-for="EstadoVaga" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalEntrevista" class="control-label"></label>
                <input asp-for="LocalEntrevista" class="form-control" />
                <span asp-validation-for="LocalEntrevista" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Remoto" /> @Html.DisplayNameFor(model => model.Remoto)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Temporario" /> @Html.DisplayNameFor(model => model.Temporario)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Freelance" /> @Html.DisplayNameFor(model => model.Freelance)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PessoaJuridica" /> @Html.DisplayNameFor(model => model.PessoaJuridica)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.CPF" class="control-label">CPF do Contratante</label>
                <input asp-for="Candidate.CPF" class="form-control" />
                <span asp-validation-for="Candidate.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enterprise.CNPJ" class="control-label">CNPJ do Contratante (se for pessoa jurídica)</label>
                <input asp-for="Enterprise.CNPJ" class="form-control" />
                <span asp-validation-for="Enterprise.CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area.NameArea" class="control-label">Nome da Área</label>
                <input asp-for="Area.NameArea" class="form-control" />
                <span asp-validation-for="Area.NameArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo.Nome" class="control-label">Nome do Cargo</label>
                <input asp-for="Cargo.Nome" class="form-control" />
                <span asp-validation-for="Cargo.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
