@{
    ViewData["Title"] = "Home Page";
}

<body class="corpo">
    <div class="text-center">
        <h1 class="titulo">Welcome</h1>
        <p>Learn about <a class="textao">Solução para empresas, autônomos e empregados.</a>.</p>
    </div>
</body>
