@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
    <head>
        <title>Sobre Nós</title>
    </head>
    <body class="corpo">
        <h1 class="titulo">
            Sobre Nós
        </h1>
        <h2 class="subtitulo">
            Locate a Job
        </h2>
        <p class="textao">
            Somos uma startup que decidiu encontrar um problema no mercado e resolvê-lo com soluções tecnológicas.
        </p>
        <br />
        <p class="textao">
            Com muitas reuniões, decidimos que seria interessante se nós desenvolvêssimos um site e um app de vagas de emprego onde as pessoas podem se candidatar para todas as modalidades de trabalho possíveis, gerando assim, inclusão num grande site.
        </p>
        <br />
        <h2 class="titulo">
            Manifesto
        </h2>
        <br />
        <p class="textao">
            Vamos incluir diversas pessoas de diversos jeitos para que elas possam executar os mais diversos tipos de trabalho, através disso, dominaremos o mercado aos poucos, fazendo com que as pessoas sintam-se cada vez mais incluídas. 
        </p>
        <br />
        <h2 class="subtitulo">
            Nossa equipe
        </h2>
        <p class="textao">
            Nossa equipe é composta por três desenvolvedores, todos eles com as suas habilidades.
        </p>
        <h3 class="terceiro-titulo">
            Gustavo da Silva Oliveira (Idealizador e CEO)
        </h3>
        <p class="textao">
            Sou desenvolvedor de sistemas há cerca de três anos, tenho um canal no Youtube chamado Canal Existencial, onde eu falo a respeito de psicologia, e um canal chamado idiomas com Gustavo. Tenho 19 anos e estou estudando atualmente Análise e Desenvolvimento de Sistemas no Senac, tenho este site publicado e o livro A Nossa Vida: Nossas Desgraças e Nossas Maravilhas publicado.
        </p>
        <h3 class="terceiro-titulo">
            Leandro Romanelli (Líder Técnico e Desenvolvedor Sênior)
        </h3>
        <p class="textao">

        </p>
        <h3 class="terceiro-titulo">
            Juliano Rosa de Jesus (Desenvolvedor Aprendiz)
        </h3>
        <p class="textao">

        </p>
    </body>
</html>