@{
    ViewData["Title"] = "Home Page";
}

<body class="corpo">
    <div class="text-center">
        <h1 class="titulo">Welcome</h1>
        <p>Learn about <a class="textao">Solução para empresas, autônomos e empregados.</a>.</p>
    </div>
    <div class="texto">
        <div class="componente">
            <img src="~/images/freelance.jpeg" />
            <div class="texto">
                <h1 class="titulo">Trabalhos para Autônomos?</h1>
                <h2 class="subtitulo">Nós temos aqui!</h2>
                <p class="textao">Temos aqui todo o tipo de trabalho para freelancer e autônomo, todos temporários, e que você pode conversar diretamente com seu cliente
                <br />
                Seja você programador, advogado, pedreiro ou qualquer outro.
                </p>
            </div>
            <img src="~/images/trabalhoAssalariado.jpeg" />
            <div class="texto">
                <h1 class="titulo">Emprego Fixo?</h1>
                <h2 class="subtitulo">Nós temos aqui!</h2>
                <p class="textao">
                    Garanta já seu emprego fixo no LocateAJob! Candidatar-se à uma vaga é algo muito fácil, da mesma forma como cadastrar uma vaga também é fácil!
                </p>
            </div>
            <img src="~/images/trabalhoEmpresaParaEmpresa.jpeg" />
            <div class="texto">
                <h1 class="titulo">Procurando uma empresa?</h1>
                <h2 class="subtitulo">Nós temos aqui!</h2>
                <p class="textao">
                    Encontre uma empresa para que você possa terceirizar à vontade o trabalho daquela empresa, temos todos os tipos, desde empresas de tecnologia, até empresas de limpeza!
                </p>
            </div>
        </div>
    </div>
</body>
