@model GustaVagas.Domain.Entities.Usuario

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="titulo">Login</h1>

<div>
    <h4 class="subtitulo">Usuario</h4>
    <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="UserName" class="textao"></label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EMail" class="textao"></label>
            <input asp-for="EMail" class="form-control" />
            <span asp-validation-for="EMail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="textao"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Login" class="btn btn-primary" />
        </div>    
</div>